body{
    font-family: 'Inter', sans-serif;
    margin-left: 55px;
    margin-right: 25px;
}
.header-area{
    display: flex;
    height: 600px;
    width: 100%;
}
.header-text-area h1{
    font-size: 65px;
    /* border-left: 7px solid #FF5959; */
    /* border-radius: 7px; */
    /* padding-left: 12px;*/
    position: relative; 
    margin-left: 10px;
}
.header-text-area h1 ::after{
    content: "";
    display: block;
    width: 6px;
    height: 130px;
    background: #FF5959;
    right: 690px;
    top: 9%;
    position: absolute;
    border-radius: 3px;
}

.mission-text{
    color: #FFAD5A;
}
.header-text-area p{
    margin-bottom: 40px;
    line-height: 30px;
}
.button-link{
    text-decoration: none;
    font-size: 24px;
    background-color: #FF5959;
    padding: 10px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 500;
}
.scroll-down{
    margin-top: 50px;
    font-weight: 400;
    color: #434343;
}

.header-image-area img{
    width: 65%;
    position: relative;
    top: -40px;
    left: 150px;
}
.my-mission h1{
    font-size: 55px;
    text-align: center;
    margin-bottom: 60px;
}
.mission-body{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}
.mission-item-1,.mission-item-2,.mission-item-3{
    padding: 10px 20px;
    height: 350px;
    width: 100%;
    margin: 0 25px;
}
.mission-item-1 img,.mission-item-2 img,.mission-item-3 img{
    width: 35%;
    margin-top: 25px;
}
.mission-item-1{
    background-color: #EDF5F6;
    border-radius: 20px;
}
.mission-item-2{
    background-color: #FFEEEE;
    border-radius: 20px;
}
.mission-item-3{
    background-color: #FFF4D6;
    border-radius: 20px;
}
.devlop-area{
    display: flex;
    /* width: 100%; */
    margin-top: 90px;
    margin-bottom: 50px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 170px;
    

}
.devlop-img-area img{
    width: 70%;
    margin-left: 70px;

}
.devlop-text-area h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 12px;
    margin-top: 50px;
}
.devlop-text-area p{
    line-height: 30px;
    margin-bottom: 32px;
}
.global-area{
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 30px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px; 
    background-position-y: bottom;
    background-size: 140px;
    padding-bottom: 40px;
    
}
.global-text-area{
    margin-top: 30px;
    
}
.global-text-area h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 20px;
}
.global-text-area p{
    line-height: 30px;
    margin-bottom: 32px;
}

.global-image-area img{
    width: 70%;
    margin-left: 100px;
    margin-top: 45px;
    
}
.notes-section h1{
    font-size: 45px;
    text-align: center;
}

.devlop-notes{
    display: flex;
    text-align: center;
}

.devlop-notes img{
    width: 40%;
}
#person-4-img{
    width: 40%;
    margin-top: 35px;
}

.developer-notes-1,.developer-notes-2,.developer-notes-3{
    padding: 15px 30px;
    /* border: 4px solid tomato; */
    
    margin: 25px 15px;
    border-radius: 18px;
    height: 400px;
}
.developer-notes-1{
    background-color: #FEE4CD;
}
.developer-notes-2{
    background-color: #fa8854;
}
.developer-notes-3{
    background-color: #DAF4F7;
}



.footer-area{
height: 150px;
background-color: #0B0D17;
}
.footer-area h1{
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 35px;
}
.mission-text-2{
    color: #FF5959;
}
.footer-area p{
    color: #D9DBE1;
    text-align: center;
    top: 20px;
}




















































