body{
    font-family: 'Inter', sans-serif;
    margin-left: 45px;
}
.header-area{
    display: flex;
    height: 700px;
    width: 100%;
}
.header-text-area h1{
    font-size: 65px;
    border-left: 7px solid #FF5959;
    border-radius: 7px;
}
.mission-text{
    color: #FFAD5A;
}




.header-image-area img{
    width: 50%;
    position: relative;
    top: -45px;
    left: 250px;
}





































































