body{
    font-family: 'Inter', sans-serif;
    margin-left: 35px;
}
.header-area{
    display: flex;
    height: 700px;
    width: 100%;
}
.header-text-area h1{
    font-size: 65px;
}




.header-image-area img{
    width: 50%;
    position: relative;
    top: -45px;
    left: 250px;
}





































































